<table>
    <td>
        <First style = "font-weight:bold; "> Review</First><br><br>
        <First style = "font-weight:bold; "> First Name:</First> {{ review.firstName }}<br>
        <First style = "font-weight:bold; "> Last Name:</First> {{ review.lastName }}<br>
        <First style = "font-weight:bold; "> Email:</First> {{ review.email }}<br>
        <First style = "font-weight:bold; "> Feedback:</First> {{ review.feedback }}<br>
        <First style = "font-weight:bold; "> Rating:</First> {{ review.rating }}<br>
    </td>
</table>
