{% extends "base.html" %}

{% block content %}
    <h2>Who We Are</h2>
    <p>We are KnockKnock, a group of Business INCubatoredu students from Naperville Central High School. For our business, we are creating a website that allows teenagers to post their local businesses and side hustles to their neighbors, which ultimately creates generational connections and closer neighborhoods.</p>
    <p>The business is ran by Alex Montchik, Jackson Ruthig, Aarit Tewatia, and Jack Warnes. The website is originally developed by Tammy Bajek, Alex Montchik, Jessica Pei, Patrick Rao, and Sarayu Suresh.</p>
   
    <p align="center">
        <img align="center" src="/static/group image 1.png" width="700" height="346.1006" /> <!--2.167 ratio width:height-->
    </p>
    
    <h2>Our Mission</h2>
    <p>Our mission is with our website, homeowners and teenagers are able to come together and expand a teenager's side hustles while creating a closer-knit community with everyone involved.</p>

{% endblock %}