{% extends "base.html" %}

{% block content %}
    <h1>Contact Us!</h1>
    <p>If you have any questions, comments, or concerns, please let us know by either:</p>
    <p>- Contacting <a href="mailto:KnockKnockFreelancing@gmail.com">KnockKnockFreelancing@gmail.com</a></p>
    <p>- Filling out this <a href="https://docs.google.com/forms/d/e/1FAIpQLSeA0yLhwi-5z6L2wXH2hlZ44P-veRTpvKl5Y9X5Myo59PQfUg/viewform">Feedback Survey</a>!</p>
    
    <p align="center">
        <img src="/static/group image 3.jpg" width="700" height="525.131283"/><!--1.333 ratio width:height-->
    </p>

{% endblock %}