{% extends "base.html" %}

{% block content %}
    <h1>How To Use Our Website!</h1>
    <h2>Homeowners:</h2>
    <p>1: You can either:</p>
    <p>- Search for a job on the Home page</p>
    <p>- Look at all the posts on the website on the <a href="/viewposts">View Posts</a> page.</p>
    <p>2: Request a job after finding the teenager that you want to hire, then fill our all the required information.</p>
    <p>3: Wait for us to email you back with more details!</p>
    <h2>Teenagers:</h2>
    <p>1: Create an <a href="/signup">Account</a> above, or <a href="/login">Log In</a>.</p>
    <p>2: Create a post on the <a href="/post">Post Creation</a> page.</p>
    <p>3: Wait for the jobs to start coming in!</p>
    <h2>Additional Features:</h2>
    <p>- Leave a review under a teenager's profile.</p>
    <p>- View <a href="/viewposts">All The Posts</a> on the website on the View Posts page!</p>
    <h2>Contact Us if you have any questions!</h2>

    <p align="center">
        <img src="/static/group_image_2.jpg" width="700" height="525.131283"/> <!--1.333 ratio width:height-->
    </p>

{% endblock %}