{% extends "base.html" %}

{% block content %}
  <h2>Create a Post</h2>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
      <p>
        {{ form.job.label }}<br>
        {{ form.job(size=32) }}
      </p>
      <p>
        {{ form.description.label }}<br>
        {{ form.description(size=50) }}
        </p>
        <p>
          {{ form.location.label }}<br>
          {{ form.location(size=32) }}
          </p>
       <p>
        {{ form.goal.label }}<br>
        {{ form.goal(size=32) }}
        </p>
        <p>
          {{ form.price.label }}<br>
          {{ form.price(size=32) }}
          </p> 
        <p>
          {{ form.categories.label }}<br>
          {{ form.categories(size=1) }}
        </p>
      
      <p>{{ form.submit() }}</p>
  </form>
{% endblock %}