{% extends "base.html" %}

{% block content %}
    <h2>Sign Up</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.firstName.label }}<br>
            {{ form.firstName(size=32) }}<br>
            {% for error in form.firstName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lastName.label }}<br>
            {{ form.lastName(size=32) }}<br>
            {% for error in form.lastName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>(At least 8 characters with 1 number) 
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.birthday.label }}<br>
            {{ form.birthday(size=32) }}<br>
            {% for error in form.birthday.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.streetAddress.label }}<br>
            {{ form.streetAddress(size=32) }}<br>
            {% for error in form.streetAddress.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=32) }}<br>
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.state.label }}<br>
            {{ form.state(size=32) }}<br>
            {% for error in form.state.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.zipcode.label }}<br>
            {{ form.zipcode(size=32) }}<br>
            {% for error in form.zipcode.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.privpol(class_="checkbox")}} 
           {{ form.privpol.label }}
           <a href="/privacy", target = "_blank">Privacy Policy</a><br>
           {% for error in form.privpol.errors %}
           <span style="color: red;">[{{ error }}]</span>
           {% endfor %}
        </p>
        <p>{{ form.submit() }}<br></p>
    </form>
{% endblock %}